body{
    padding: 0;
    margin: 2em 1,5em 0;
    box-sizing: border-box;
    background-color: #EEE;
}
header{
    text-align: center;
}
header #main h1{
    width: 100%;
    margin: 0,7em auto 0;
    padding: 1.3em 0 0;
}
header #main p{
    margin: 0 auto;
    padding: 0.1em 0 0.4em;
}

div #img-div {
    text-align: center;
    display: block;
}

#image {
  display: block;
  margin-left: auto;
	margin-right: auto;
	align-content: center;
  max-width: 100%;
  height: auto;
}
